<nav>
  <ul class="navbar-items">
    <li class="navbar-list-item"><%= link_to "Foods", foods_path %></li>
    <li class="navbar-list-item"><%= link_to "Recipes", recipes_path %></li>
    <li><li class="navbar-list-item"><%= link_to "Public Recipes", public_recipes_path %></li>
    <li class="navbar-list-item"><%= link_to "Shopping List", foods_shop_path %></li>
  </ul>
</nav>